# API Configuration
NUXT_CATALOG_API_URL=http://localhost:8081
NUXT_IMAGE_API_URL=http://localhost:8082

# OIDC Configuration (Logto)
NUXT_OIDC_PROVIDERS_OIDC_CLIENT_ID=
NUXT_OIDC_PROVIDERS_OIDC_CLIENT_SECRET=
NUXT_OIDC_PROVIDERS_OIDC_AUTHORIZATION_URL=http://localhost:3001/oidc/auth
NUXT_OIDC_PROVIDERS_OIDC_TOKEN_URL=http://logto:3001/oidc/token
NUXT_OIDC_PROVIDERS_OIDC_USERINFO_URL=http://logto:3001/oidc/me
NUXT_OIDC_PROVIDERS_OIDC_LOGOUT_URL=http://localhost:3001/oidc/session/end
NUXT_OIDC_PROVIDERS_OIDC_REDIRECT_URI=http://admin.127.0.0.1.nip.io/auth/oidc/callback
NUXT_OIDC_PROVIDERS_OIDC_LOGOUT_REDIRECT_URI=http://admin.127.0.0.1.nip.io

# Cookie Settings
NUXT_COOKIE_SECURE=false
