# API Configuration
NUXT_CATALOG_API_URL=http://localhost:8081
NUXT_IMAGE_API_URL=http://localhost:8082

# OIDC Configuration (Logto)
NUXT_OAUTH_OIDC_CLIENT_ID=
NUXT_OAUTH_OIDC_CLIENT_SECRET=
NUXT_OAUTH_OIDC_REDIRECT_URL=http://admin.127.0.0.1.nip.io/auth/oidc/callback
NUXT_OAUTH_OIDC_OPENID_CONFIG_AUTHORIZATION_ENDPOINT=http://localhost:3001/oidc/auth
NUXT_OAUTH_OIDC_OPENID_CONFIG_TOKEN_ENDPOINT=http://logto:3001/oidc/token
NUXT_OIDC_ISSUER=http://localhost:3001/oidc
NUXT_OIDC_JWKS_URL=http://logto:3001/oidc/jwks
NUXT_API_RESOURCE_INDICATOR=https://api.sokolshop.com
NUXT_OIDC_LOGOUT_URL=http://localhost:3001/oidc/session/end
NUXT_OIDC_REVOCATION_URL=http://logto:3001/oidc/token/revocation
NUXT_OIDC_LOGOUT_REDIRECT_URL=http://admin.127.0.0.1.nip.io

# Session Configuration
NUXT_SESSION_PASSWORD=
NUXT_SESSION_COOKIE_SECURE=false
