//inditex.jfrog.io/artifactory/api/npm/node-public/:_auth=aWhvcnNvQGV4dC5pbmRpdGV4LmNvbTpjbVZtZEd0dU9qQXhPakUzTnpRMk9UWTFORFk2YmpsMFozUjFkSEkxWjJOU1pISmFaSHBLVm0xS1FYUnRXa2cy
always-auth=true
email=ihorso@ext.inditex.com
registry=https://inditex.jfrog.io/artifactory/api/npm/node-public/
progress = false
